@model IEnumerable<VN_Travel_.DAL.Models.CountryModel>
@{
    ViewData["Title"] = "Страны";
}

<section>
    <h2 class="section-title">Направления</h2>
    <div class="grid">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?auto=format&fit=crop&w=600&q=80">
            <div class="card-content"><h3>Италия</h3><p>Колыбель культуры и искусства.</p></div>
        </div>
    </div>

    <div class="card">
        <img src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?auto=format&fit=crop&w=600&q=80">
        <div class="card-content">
            <h3>Италия</h3>
            <p>Колыбель культуры и искусства.</p>
            <a asp-controller="Home" asp-action="CountryDetails" asp-route-id="1" class="btn-main" style="display:inline-block; margin-top:10px;">Подробнее</a>
        </div>
    </div>

</section>