@model IEnumerable<VN_Travel_.DAL.Models.HotelModel>
@{
    ViewData["Title"] = "Отели";
}

<section>
    <h2 class="section-title">Наши Отели</h2>
    <div class="grid">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?auto=format&fit=crop&w=600&q=80">
            <div class="card-content">
                <span style="color: #e67e22;">★★★★★</span>
                <h3>The Grand Resort</h3>
                <p>Роскошь в каждой детали.</p>
            </div>
        </div>
    </div>
</section>