@model IEnumerable<VN_Travel_.DAL.Models.TourModel>
@{
    ViewData["Title"] = "Туры";
}

<section>
    <h2 class="section-title">Доступные Туры</h2>
    <div class="grid">
        <div class="card">
            <div class="card-content">
                <h3>Тур "Альпийская свежесть"</h3>
                <p>7 дней в горах Швейцарии.</p>
                <p><strong>Цена: 1200$</strong></p>
                <a href="#" class="btn-main">Купить</a>
            </div>
        </div>
    </div>
</section>